<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
  </head>
  <body>
    localhost:3000/
    <form action="/enter" method="post">
      <input type="text" name="kanbanName">
      <input type="submit" value="Go!">
    </form>
  </body>
</html>
