<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>teste</title>
  </head>
  <body>
    kanban.com/
    <form action="/enter" method="post">
      <input type="text" name="title" placeholder="nome-do-projeto">
      <input type="submit" value="Ir!">
    </form>
  </body>
</html>
