<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Kanban online</title>
</head>
<body>
  <a href="/">Home</a>
  <h1>kanban.com/</h1>
  <form action="/add" method="post">
    <input type="text" name="task" placeholder="Descreva uma tarefa">
    <input type="submit" value="Adicionar">
  </form>
  <h1>A fazer</h1>
  <ul>
  </ul>
  <h1>Fazendo</h1>
  <h1>Feito</h1>
</body>
</html>
