<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kanban</title>
  </head>
  <body>
    <a href="/">Home</a>
    <h1>localhost:3000/</h1>
    <form action="/add-task" method="post">
      <input type="text" name="task" placeholder="Add a new to-do task">
      <input type="submit" value="Add">
    </form>
    <h2>To do</h2>
    <ul>
    <% for(var i = 0; i < todo.length; i++) { %><li><%= todo[i] %></li><% } %>
    </ul>
    <h2>Doing</h2>
    <ul>
    <% for(var i = 0; i < doing.length; i++) { %><li><%= doing[i] %></li><% } %>
    </ul>
    <h2>Done</h2>
    <ul>
    <% for(var i = 0; i < done.length; i++) { %><li><%= done[i] %></li><% } %>
    </ul>
  </body>
</html>
