<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kanban</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://use.fontawesome.com/7ce95a0526.js"></script>
  </head>
  <body>
    localhost:3000/<%= kanban.title %> <br><br>
    <form action="/adiciona" method="post">
      <input type="text" name="task" placeholder="Adicione uma tarefa" autofocus>
      <input type="hidden" name="kanbanName" value="<%= kanban.title %>">
      <button type="submit"><i class="fa fa-plus" aria-hidden="true"></i></button>
    </form>
    <h2>A fazer</h2>
    <ul><% for(var i = 0; i < kanban.todo.length; i++) { %>
      <li><%= kanban.todo[i].description %></li><% } %>
    </ul>
    <h2>Fazendo</h2>
    <ul>
    </ul>
    <h2>Feito</h2>
    <ul>
    </ul>
  </body>
</html>
