<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Henrique Sangalli Corrêa">
  <meta name="description" content="Single-page application project developed with Vue.js">
  <meta name="keywords" content="Kanban, single-page application, vue.js">
  <link rel="stylesheet" href="stylesheets/kanban.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <script src="https://use.fontawesome.com/3f86ba9d74.js"></script>
  <title>Don't Kanban</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.0/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.1/vue-resource.min.js"></script>
</head>
<body>
  <div id="app" v-on:dragover.prevent v-on:drop="dropTask(event)">
    <header>
      <h1 v-on:click="goBackToHome()">Don't Kanban</h1>
    </header>
    <section class="board">
      <div id="column-1">
        <h2>To do</h2>
        <ul>
          <template v-for="task in kanban.tasks">
            <li v-if="task.column == 1" v-bind:class="task.color" v-on:click="showDetails(task)" v-on:drag="dragTask(task)" draggable>
              <p>{{ task.description }}</p>
              <i class="fa fa-eye" aria-hidden="true"></i>
            </li>
          </template>
        </ul>
      </div>
      <div id="column-2">
        <h2>Doing</h2>
        <ul>
          <template v-for="task in kanban.tasks">
            <li v-if="task.column == 2" v-bind:class="task.color" v-on:click="showDetails(task)" v-on:drag="dragTask(task)" draggable>
              <p>{{ task.description }}</p>
              <i class="fa fa-eye" aria-hidden="true"></i>
            </li>
          </template>
        </ul>
      </div>
      <div id="column-3">
        <h2>Done</h2>
        <ul>
          <template v-for="task in kanban.tasks">
            <li v-if="task.column == 3" v-bind:class="task.color" v-on:click="showDetails(task)" v-on:drag="dragTask(task)" draggable>
              <p>{{ task.description }}</p>
              <i class="fa fa-eye" aria-hidden="true"></i>
            </li>
          </template>
        </ul>
      </div>
    </section>
    <section class="user-input">
      <input v-model="newTask.description" v-on:keyup.enter="validateNewTask()" type="text" placeholder="Type here and press enter to add a new task..." autofocus >
    </section>
    <section v-if="detailsAreVisible" class="task-details">
      <!-- TODO: Modal showing more details of the task that was clicked -->
    </section>
  </div>
  <script src="scripts/kanban.js"></script>
</body>
</html>
