.center-wrapper{
  display: table;
  height: 90vh;
  width: 100%;
}
.container{
  display: table-cell;
  font-family: Open Sans;
  font-size: 1.2em;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  width: 90%;
}
.container input{
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  font-size: 1.1em;
  margin-bottom: 10px;
  outline: none;
  padding: 15px 10px;
}
.container button{
  background-color: transparent;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1em;
  outline: none;
  padding: 15px 20px;
}
.container button:hover{
  background-color: rgba(0,0,0,0.05);
}
